{{!< desktop}}
<ul>
    <li>
        <a href="authorization.hbs">Authorization page</a>
    </li>
    <li>
        <a href="registration.hbs">Registration page</a>
    </li>
    <li>
        <a href="notFound.hbs">Not found page</a>
    </li>
    <li>
        <a href="internalError.hbs">Internal server error page</a>
    </li>
</ul>