{{!< desktop}}

<div class="container">
    <div class="mat mat__not-found">
        <p class="not-found__code">505</p>
        <p class="not-found__text">Что то пошло не так...</p>
        {{> "ui/link/link" text="На главную" href="/"}}
    </div>
</div>