.chat-list-item {
    padding: 10px;
    display: grid;
    grid-template-columns: 50px 200px 30px;
    grid-template-rows: 20px 30px;
    column-gap: 10px;
    row-gap: 5px;
    width: fit-content;
    height: fit-content;
    border-top: 1px solid var(--gray);
}

#chat-list-chatImage {
    align-self: start;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#chat-list-chatName {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#chat-list-lastMessage {
    align-self: start;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#chat-list-time {
    text-align: end;
    align-self: start;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#chat-list-badge {
    align-self: center;
    justify-self: center;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}