.input-container {
    margin: 15px 0;
    width: 100%;
    position: relative;
}

.input-label {
    padding: 0 5px;
    font-size: 14px;
    position: absolute;
    color: var(--gray);
    pointer-events: none;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s all;
}

.input-field {
    width: 100%;
    height: 28px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    color: var(--base);
    border-bottom: 1px solid var(--primary);
}

.input-container input:valid ~ span,
.input-container input:focus ~ span {
    transform: translateX(-5px) translateY(-25px);
    font-size: 10px;
}